<div id="<%= dom_id meal %>">
  <p>
    <strong>Name:</strong>
    <%= meal.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= meal.price %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= meal.image_url %>
  </p>

</div>
